.edit-img {
    width: 200px;
    margin: 16px;
}

h1 {
    font-size: 2.4rem;
    margin-bottom: 24px;
}

.edit-form {
    margin: 0 auto;
    padding: 48px;
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: center;
    align-items: center;



    input {
        margin: 0 0 0 16px;
    }
}