.Dashboard {
    margin: 0 auto;
    margin-top: 48px;
    width: 75%;

    
    .new-btn {
        margin-bottom: 48px;
        width: 160px;
        height: 56px;
        padding: 8px;
        border-radius: 4px;
        background-color: grey;
        color: white;
        border: none;
        margin-top: 48px;

        &:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
        }
    }
}
