.campaign-card {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: auto;
    padding: 8px;
    border-radius: 4px;
    margin: 0 8px;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);

    .card-content{
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            margin: 4px 0;
        }

        .campaign-img {
            margin: 0 auto;
            padding-top: 16px;
            width: 100%;
            height: 75px;
            background-color: rgb(236, 236, 236);
            border: 2px solid black;
        }
    }

    .card-ud {
        padding: 8px;
        
        a {
            padding: 0 4px;
        }
    }
}